<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>APP COMIDAS</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body background="https://www.cocinavital.mx/wp-content/uploads/2018/02/platillos_para_una_comida_de_cuaresma_portada.jpg">
  <h2 class="text-center">Chat</h2>
<div class="container">
  <div class="message-candidate center-block">
    <div class="row">
      <div class="col-xs-8 col-md-6">
        <img src="http://imgc.allpostersimages.com/images/P-473-488-90/68/6896/2GOJ100Z/posters/despicable-me-2-minions-movie-poster.jpg" class="message-photo">
        <h4 class="message-name">alphatester</h4>
      </div>
      <div class="col-xs-4 col-md-6 text-right message-date">Fecha</div>
    </div>
    <div class="row message-text">
        mensaje de alphatester
    </div>
  </div>
  <div class="message-hiring-manager center-block">
    <div class="row">
      <div class="col-xs-8 col-md-6">
        <img src="http://imgc.allpostersimages.com/images/P-473-488-90/68/6896/2GOJ100Z/posters/despicable-me-2-minions-movie-poster.jpg" class="message-photo">
        <h4 class="message-name">betatester</h4>
      </div>
      <div class="col-xs-4 col-md-6 text-right message-date">Fecha</div>
    </div>
    <div class="row message-text ">
        mensaje de betatester
    </div>
  </div>
  <div class="messaging center-block">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
