<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>APP COMIDAS</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">APP COMIDAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron text-center">
   <a href="/login" class="btn btn-lg btn-success">Iniciar sesión</a>
   <a href="/signup" class="btn btn-lg btn-info">Registrarse</a>
  </div>

</body>
</html>
